{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
        <div class="container" style="margin-top: 20px" >
            <div>
                <div class="text-center">
                    <h1>Редактировать Профиль</h1>
                    <h2>{{ name }}</h2>
                    <br>
                    <div class="text-secondary" style="margin-top: -10px">Изменить данные пользователя</div>
                </div>
            </div>
            <br>
            <div class="info">
                <form  method="POST">
                    {% csrf_token %}
                    <div for="names" class="secondary-text"><h3>Персональная информация</h3></div>
                    <div name="names" class="">
                        {{ error }}
                        {{ form.username.label }} {{ form.username }}
                        {{ form.first_name.label }} {{ form.first_name }}
                        {{ form.last_name.label }} {{ form.last_name }}
                        {{ form.age.label }} {{ form.age }}
                        {{ form.password.label }} {{ form.password }}
                        {{ form.sec_password.label }} {{ form.sec_password }}
                        <button type="submit" class="btn btn-success mt-3" id="submit_reg">Отправить</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
{% endblock %}